@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    background-color: #35344A;
    color: #D3C7B8;
    margin: 0;
}

h1, h2 {
    font-family: 'Lato', sans-serif;
}

p, a {
    font-family: 'Oswald', sans-serif;
}


/* navbar */

ul {
    height: 10vh;
}

#nav-bar, #nav-bar li, #nav-bar a {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-top: 0.50rem
    
}

#nav-bar a {
    margin: 10px;
    vertical-align: middle;
    font-size: 20px;
}

#nav-bar {
    border-bottom: solid 1px #D3C7B8;
    padding-right: 2rem;
}

/* main section */
#hero-image {
    height: 90vh;
    background-image: url("../images/robert-thomas-mqMY-BCpFec-unsplash.jpg");
    background-size: cover;
    
}

#introduction-wexford {
    height: 90%;
}