@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    background-color: #35344A;
    color: #D3C7B8;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}


h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}


/* navbar */
nav {
    border-bottom: solid 1px #D3C7B8;
    width: 100%;
    position: fixed;
}

#nav-bar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
    display: flex;
    justify-self: center;
    align-items: center;
}

.logo {
    color: #786445;
    font-size: 25px;
    padding-left: 20px;
    float: left;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    font-size: 16px;
    margin-left: 40px;
    margin-top: 27px;
}

ul li a {
    text-decoration: none;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #786445;
}


/* main section */
#hero-image {
    height: 90vh;
    background-image: url("../images/johnstown-house.jpg");
    background-size: cover;
}

#introduction-text {
    display: inline;
    width: 40%;
    
}

#introduction-wexford > h1 {
    padding: 5rem;
}

#introduction-video {
    display: inline;
    float: right;
    width: 40%;
}


/* gallery */


#gallery {
    max-width: 1200px;
    margin: auto;
    background-color: #D3C7B8;
    overflow: auto;
}

.pictures {
    margin: 5px;
    /* border: 1px solid #D3C7B8; */
    float: left;
    width: 390px;
    display: flex;
    flex-wrap: wrap;
}

#gallery img {
    width: 100%;
    height: auto;
}

.description {
    padding: 15px;
    text-align: center;
}


/* form */
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    margin: 2rem;
    border: 1px solid #D3C7B8;
    display: flex;
    justify-content: center;
    align-items: center;
}

legend {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: block;
}

.details {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

label {
    display: block;
}

input {
    border: 1px solid #D3C7B8;
    width: 10rem;
}

textarea {
    display: block;
    margin-bottom: 2rem;
    width: 20rem;
    font-size: 1em;
    padding: 0 1rem;
    height: 10rem;
    padding: 1rem;
}

button {
    margin: 1rem;
    background-color: #786445;
    color: #D3C7B8;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: #D3C7B8;
    color: #786445;
}

